.tswLargeIcon svg {
  width: 30px;
  height: 30px;
}

.tswPanelFooter {
  position: sticky;
  border-top: 1px solid rgb(224, 224, 224);
  bottom: 0;
  padding: 0rem 0 1rem 0;
  max-height: 200px;
}

.tswChatItem {
  gap: 12px;
  margin: 0;
}

.tswChatItem p,
.tswChatItem code,
.tswChatItem pre {
  margin: 0;
}

.tswChatItem code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tswChatItem pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-x: auto;
}

.tswChatItem .tswUser {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  width: 34px;
  height: 34px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.tswChatItemSingle {
  align-items: center !important;
}

.chatContainer {
  @apply flex flex-col overflow-y-auto;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 36px);
}

.chatContent {
  @apply flex-grow;
}

.scrollArea {
  @apply pr-4 pb-4 overflow-y-auto;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 36px);
}

.welcomeMessage {
  @apply flex items-center justify-center font-semibold text-[32px];
  @apply bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-black opacity-50;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 36px);
}

.messageContainer {
  @apply mb-1;
}

.messageContainer svg path {
  fill: unset !important;
}

.userMessage {
  @apply ml-auto;
}

.assistantMessage {
  @apply mr-auto;
}

.chatItemContainer {
  @apply flex items-start;
}

.userChatItem {
  @apply justify-end;
}

.messageContent {
  @apply rounded-lg max-w-[95%];
}

.assistantContent {
  @apply w-full;
}

.messageContent table {
  @apply rounded-lg w-full border-collapse;
  border: 1px solid #e5e7eb !important;
}

.messageContent table th,
.messageContent table td {
  border: 1px solid #e5e7eb !important;
  @apply p-2;
}

.messageContent table tr {
  @apply hover:bg-gray-50;
}

.messageContent table tbody tr:nth-child(odd) {
  @apply bg-white;
}

.messageContent table tbody tr:nth-child(even) {
  @apply bg-gray-50;
}

.messageContent table thead {
  @apply bg-gray-100;
}

.loadingContainer {
  @apply flex items-center space-x-2;
}

.loadingDot {
  @apply relative;
}

.dotBase {
  @apply w-3 h-3 bg-blue-500 rounded-full;
}

.dotPing {
  @apply absolute top-0 left-0 w-3 h-3 bg-blue-500 rounded-full animate-ping;
}

.actionContainer {
  @apply flex mx-[36px];
}

.userActionContainer {
  @apply justify-end;
}

.assistantActionContainer {
  @apply justify-start;
}

.editActions {
  display: flex;
  margin-left: 0.5rem;
}

.inputContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #efefef;
  position: relative;
}

.textarea {
  flex-grow: 1;
  min-height: 80px;
  max-height: 120px;
  border: 0;
  border-radius: 8px;
  background-color: #efefef;
  box-sizing: border-box;
}

.stopIcon {
  height: 16px;
  width: 16px;
}

.submitIcon {
  color: rgb(0, 123, 255);
}

.actionContainer {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.messageContainer:hover .actionContainer {
  opacity: 1;
}

.actionContainer .tswActionBtn {
  visibility: hidden;
}

.messageContainer:hover .actionContainer .tswActionBtn {
  visibility: visible;
}
